/* Mengatur tampilan dasar halaman */ 
body {
    background-color: #32522e;
    font-family: 'Tahoma', sans-serif;
    padding: 40px;
    margin: 0;
    color: #333;
}

/* Mengatur tampilan utama dari formulir */
.container {
    width: 600px;
    background: #ffffff;
    margin: auto;
    padding: 30px;
    border-radius: 12px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

/* Mengatur tampilan judul formulir */
h2 {
    font-size: 22px;
    text-transform: uppercase;
    border-bottom: 3px solid #1e8449;
    padding-bottom: 6px;
    margin-bottom: 20px;
    color: #1e8449;
}

/* Mengatur tampilan form */
.contact-form {
    margin-top: 20px;
}

/* Mengatur tampilan label input */
.contact-form label {
    font-weight: bold;
}

/* Mengatur tampilan input, textarea, dan select */
.contact-form input, 
.contact-form textarea, 
.contact-form select {
    width: 100%;
    padding: 8px;
    margin: 5px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
}

/* Mengatur tampilan tombol */
.contact-form button {
    background: #1e8449;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

/* Efek hover atau elemen yang dapat diklik atau interaktif saat kursor diarahkan ke tombol */
.contact-form button:hover {
    background: #145a32;
}

/* Mengatur tampilan tombol kembali */
.back-link {
    display: inline-block;
    padding: 10px 15px;
    background: #1e8449;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    margin-top: 20px;
}

/* Efek hover saat tombol kembali dihover */
.back-link:hover {
    background: #145a32;
}
